{{page-title 'Search'}}

<div class='search'>
  <h3 class='search__header'>Seach results for : </h3>
  &nbsp; &nbsp;
  <span class='search__query'> {{@model.artistName}} </span>
</div>

<div class='artists'>

  <p>I am a spinner</p>

</div>